@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-4xl
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


.wk_menu {
  @apply w-full flex items-center justify-between fixed;
  z-index: 99999;
  height: 70px;
  .menu_bg {
    @apply absolute w-full fixed overflow-hidden;
    height: 70px;
    .blur {
      position: absolute;
      z-index: 1;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(0);
      transition: backdrop-filter 0s linear;

    }
  }
  .menu_logo {
    @apply flex items-center relative;
    h2 {
      @apply text-xl font-bold;
    }
    .other_logo {
      @apply ml-2 mr-3 border-l pl-3;
      flex-shrink: 0;
    }
  }
  .menu_links {
    @apply flex pr-2 relative;
    a {
      @apply pr-3 pl-4 border-r py-2 font-bold;
      &:last-child {
        @apply border-none;
      }
    }
  }
  &.active {
    .blur {
      backdrop-filter: blur(10px);
      transition: backdrop-filter .3s linear;
      &.disable_blur {
        backdrop-filter: blur(0px);
      }
    }
  }
}

.header_image {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-attachment: fixed !important;
  display: block;
  position: absolute;
  z-index: -1;
}

.section {
  width: 100vw;
  overflow-x: hidden;
  background: white;
  &.header {
    @apply flex items-center justify-center relative;
    height: 400px;
    .wrapper {
      @apply flex items-center;
      max-width: 1280px;
      .text_wrapper {
        .text_content {
            a.partner_logo {
              img {
                width: 190px; 
              }
              position: absolute; 
              right: 40px; 
              bottom: 30px
            }
        }
      }
    }
  }
  &.content {
    @apply py-12;
    .title {
      max-width: 1280px;
      @apply flex mx-auto mb-4;
    }
    .views {
      .view {
        @apply mx-auto;
        max-width: 1280px;
        &.text {
          @apply flex items-start mx-auto;
          .text_wrapper {
            &.single {
              max-width: 60%;
            }
            .horizontal {
              @apply flex;
              .text_content {
                @apply w-full;
              }
            }
          }
        }
      }
      .view + .view {
        @apply ml-20;
      }
    }
  }
}

@media screen and (max-width: 800px) {


.header_image {
  width: 100%;
  height: 90vh;
  background-size: cover !important;
  background-attachment: scroll !important;
  display: block;
  position: absolute;
  z-index: -1;
}


.section {
  &.header {
    align-items: flex-end;
    height: 90vh;
    position: relative;
    top: 0;
    background-attachment: scroll !important;
    .wrapper {
      width: 100%;
      padding: 0;
 
      .text_wrapper {
        padding: 7.5%;
        max-width: none;
        
        .text_title {
          h2 {
            @apply leading-tight text-2xl
          }
        }
          .text_content {
            a.partner_logo {
              img {
                width: 180px; 
              }
              position: relative; 
              margin: 20px 0 10px;
              left: 0px; 
              display: inline-block;
              right: auto;
              top: 0px
            }
            p {
              @apply text-xl;
            }
          }

      }
    }
  }
  &.content {
    padding: 3rem 0 !important;
    position: relative;
    z-index: 9999;
    background: white;
    .title {
      width:85%;
      h2 {
        @apply text-2xl leading-tight;
      }
    }
    .views {
      width: 100%;
      display: block;
      .view.text {
        width: 85%;
        max-width: none;
        margin: 0 auto !important;
        .text_wrapper {

          p {
            @apply text-lg leading-normal;
          }
        }
        .text_wrapper.single {
          width: 100%;
          max-width: none;
          margin: 0 auto;
        }
        .videoWrapper {
          margin-top: 1rem;
        }
      }
      .view + .view {
        margin-left: 0
      }
    }
  }
  .list_container {
    width: 85%;
    border: none;
  }
}
.wk_menu {
  .menu_links {
    display: none;
  }
}
  
}


